<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Категорії</title>
</head>
<body>
<nav>
    <a href="/">Головна</a> |
    <a href="/categories">Категорії</a> |
    <a href="/products">Товари</a>
</nav>
<hr>

<h1>Категорії товарів</h1>

<ul>
    <li th:each="cat : ${categories}">
        <strong th:text="${cat.name}">Назва</strong>
        <span th:if="${cat.parent != null}">
                (Батьківська категорія: <span th:text="${cat.parent.name}">Parent</span>)
            </span>
    </li>
</ul>
</body>
</html>